#container {
    background-color: #04aa6d;
    text-align: center;
    padding: 16px;
}

#main-content {
    background-color: #fff;
    border-radius: 32px;
}

#title {
    margin-top: 0;
}

#list-information {
    list-style: none;
    padding-left: 0;
    font-style: italic;
    font-weight: bold;
}