body {
    height: 5000px;
}

.nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}


.nav-list {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
}

.more-list {
    display: none;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

.nav-item {
    padding: 12px 32px;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-item:hover {   
    background-color: #ccc;
    color: #000;
}

.nav-item:hover a {
    color: #000;
}

.search {
    display: flex;
    font-size: 26px;
    align-items: center;
    padding: 12px 32px;
}

.search:hover {
    background-color: red;
    cursor: pointer;
}

.header > img {
    width: 100%;
}

.header {
    position: relative;
    margin-top: 50px;
}

.header-titles {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 50px;
    color: white;
}

.description-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

.band-description > h3,h4 {
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.max-width-800 {
    max-width: 800px;
}

.description-item > img {
    width: 158px;
}

.description-item {
    text-align: center;
}

@media only screen and (max-width: 576px) {
    .band-description {
        max-width: 100%;
    }

    .band-description > p {
        padding: 0 16px;
    }
    .description-list {
        flex-wrap: wrap;
    }
    .description-item {
        width: 100%;
    }
}